@import "./loading.scss";

body{
    background: lightgrey;
    font-family: sans-serif
    ;
    box-sizing: border-box;
    * { box-sizing: border-box; }

    .container{
        
        display: block;
        width: 100%;
        position: relative;

        h1{
            text-align: center;
            font-size: 2em;
        }

        .box{
            display: block;
            margin: 0 auto;
            max-width: 400px;
            box-shadow: 1px 1px 8px 1px #00000080;
            border-radius: 10px;
            background: white;
            padding: 20px;

            .input-block{
                display: flex;
                justify-content: center;
                flex-flow: row;

                #input, #submit{
                    border: 1px solid lightgrey;
                    border-radius: 5px;
                    padding: 10px;
                    margin: 10px;
                    background: white;
                }

                #input{
                    width: 100%;
                    
                }
                #submit{
                    min-width: 80px;
                    &:hover {
                        cursor: pointer;
                        background: #f5f5f5;
                    }
                }
            }

            .result-block{
                width: 100%;
                display: block;

                .error-msg{
                    background: lightpink;
                    border: 1px solid #dd94a1;
                    border-radius: 5px;
                    padding: 16px 10px;
                    color: darkred;
                    margin: 10px;
                }

                .success-block{
                    margin:10px;  

                    .user-block{
                        display: flex;
                        flex-flow: row;

                        .image{
                            min-width: 75px;
                            min-height: 75px;
                            background-size: cover;
                        }

                        .data{
                            margin: auto 16px;
                            line-height: 24px;

                            .username,
                            .fullname,
                            .bio{
                                margin: 0;
                                max-width: 250px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                            .fullname{
                                margin: 0;
                                font-size: 24px;
                                font-weight: 600;
                            }
                            .username{
                                font-style: italic;
                                &:before{
                                    content:"@"
                                }
                            }
                        }
                    }

                    .repos-block{
                       
                        .title{
                            font-weight: 600;
                            padding-bottom: 10px;
                            border-bottom: 2px solid black;
                        }

                        .repo{
                            display: flex;
                            justify-content: space-between;
                            border-bottom: 1px solid grey;
                            padding-bottom: 16px;
                            margin-top: 16px;

                            .name{
                                font-weight: 600;
                            }
                            .info{
                                font-size: 14px;
                                svg{
                                    position: relative;
                                    top: 3px;
                                    margin: 0 0 0 6px;
                                }
                            }
                        }
                    }

                }

            }
        }
    }
    
}